@{
    ViewData["Title"] = "Access denied";
    Layout = "_AuthLayout";
}

<div class="auth__confirm">
    <header class="auth__header">
        <span class="auth__eyebrow">403</span>
        <h1 class="auth__title">Access denied</h1>
    </header>
    <p class="auth__subtitle">
        Your account doesn't have permission to view this page. If you think this is a
        mistake, contact your administrator.
    </p>
</div>

<p class="auth__foot">
    <a class="auth__link" href="/">Return home</a>
</p>
