<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lodestone</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="/">Lodestone</a>
            <div class="navbar-actions">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <span class="navbar-user" title="Signed in">@User.Identity!.Name</span>
                    <form class="navbar-logout" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn-logout">Sign out</button>
                    </form>
                }
                else
                {
                    <a class="navbar-signin" asp-controller="Account" asp-action="Login">Sign in</a>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
